:root {
    --bg-color: #252525;
    --font-color: #eee;
    
}

[data-theme="light"] {
    --bg-color: #eee;
    --font-color: #252525;
}


body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid var(--font-color);
    background-color: var(--bg-color);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

div, span, label{
    margin: 6px;
}

